<div class="faq-container">
    <div
      class="faq-item"
      *ngFor="let faq of faqs; let i = index"
      [ngClass]="{ 'open': faq.isOpen }"
      (click)="toggle(i)"
    >
      <div class="faq-header">
        <h3 class="faq-question">{{ faq.question }}</h3>
  
        <!-- Toggle button with SVG -->
        <div class="faq-toggle-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17"
              height="17"
              fill="currentColor"
              class="arrow-icon bi bi-arrow-right"
              viewBox="0 0 16 16"
              [ngClass]="{ 'arrow-icon': true, 'open': faq.isOpen }"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
              />
            </svg>
          </div>          
      </div>
  
      <div class="faq-answer" *ngIf="faq.isOpen">
        <p>{{ faq.answer }}</p>
      </div>
    </div>
  </div>

