
<section class="collection-div">

  <div class="plant-title">
    <span class="plant-small"><p>Check out our video content including
      informative webinars where you can learn
      more about your door plants.
  </p></span>
    <span class="plant"><h1>Indoor Collection</h1></span>
    
  </div>


  <div class="door-collection">
        <div class="card-div">
          <div class="card">

              <span class="rotated-icon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                  </svg>
            </span>

            <div class="details">
              <label class="element">Philodendron</label>
              <p>
                Philodendron comes in a variaty of leaf shapes and colors, making
                it a great plant of compliment your home decor while also being 
                low maintenance
              </p>
              <br> <br><br> <br>
            </div>
          </div>
          


          <div class="card1">

            <span class="rotated-icon2">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
          </span>

          <div class="details">
            <label class="element">Calatha</label>
            <p>
              Philodendron comes in a variaty of leaf shapes and colors, making
              it a great plant of compliment your home decor
            </p>
            <br> <br><br> <br>
          </div>
        </div>
        </div>
  </div>


  <div class="door-collection">
    <div class="card-div">
      


      <div class="card3">

        <span class="rotated-icon2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
      </span>

      <div class="details">
        <label class="element">Air Purifying</label>
        <p>
          Philodendron comes in a variaty of leaf shapes and colors, making
          it a great plant of compliment your home decor
        </p>
        <br> <br><br> <br>
      </div>
    </div>


    <div class="card4">

      <span class="rotated-icon1">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
          </svg>
    </span>

    <div class="details">
      <label class="element">Low Light Tolerant</label>
      <p>
        Philodendron comes in a variaty of leaf shapes and colors, making
        it a great plant of compliment your home decor while also being 
        low maintenance
      </p>
      <br> <br><br> <br>
    </div>
  </div>
  
    </div>
</div>

</section>